{% extends 'base.html' %}
{% block title_content %} Pricing Page {% endblock %}
{% block content %}
<div class="container py-5">
  <h3 class="text-center mb-3">Pricing</h3>
  <h6 class="text-center text-muted mb-4">Choose a plan that suits your needs.</h6>
</div>
<div class="container text-center">
    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="p-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Free</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">For testing</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Starter</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">For beginners</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pro</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">For professionals</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}